# Spearman rank correlation

calculcate Spearman correlation for $\alpha, \beta$, and $\zeta$ parameters in Weber noise condition

for assessment of reliability

In [6]:
import numpy as np
from matplotlib import pyplot as plt
from scipy.stats import spearmanr
import pandas as pd
import copy
import random

In [44]:
data=pd.read_pickle('C:/Users/canlab/Desktop/Modelling_Influenca/Results/Fit_all_subjects/Fitting_results/Weber_fitting_results.pkl')

In [21]:
list_sub= np.load('C:/Users/canlab/Desktop/Modelling_Influenca/Results/Fit_all_subjects/Fitting_results/list_of_subjects.npy')

In [122]:
np.set_printoptions(suppress=True)

In [45]:
data

            alpha      beta      zeta       llkd  R: alpha   R: beta   R: zeta
ID  Run
4   0    0.302213  0.423913  1.074786 -88.196072  1.041465  1.001490  1.018581
    1    0.169644  0.181967  0.805850 -70.888338  1.000137  1.036891  1.026518
    2    0.128943  0.091147  0.754634 -54.402455  1.009505  1.004921  1.044324
    3    0.197204  0.102186  0.606535 -46.581652  1.050078  1.031837  1.008363
    4    0.245494  0.299987  0.921032 -80.763964  1.030587  1.014235  1.038847
...           ...       ...       ...        ...       ...       ...       ...
341 22   0.478542  0.267438  0.178090 -48.388401  1.019837  1.012203  1.005751
    23   0.481532  0.247657  0.230789 -48.323619  1.002065  1.019951  1.023687
    24   0.464242  0.245266  0.298868 -52.803688  1.031960  1.010043  1.011816
    25   0.456939  0.208860  0.323325 -49.074380  1.017266  1.016731  1.006824
    26   0.487246  0.252973  0.124097 -52.381473  1.018613  1.000826  1.043091

[2482 rows x 7 columns]

In [47]:
list_sub.dtype

dtype('int32')

In [5]:
data[['ID', 'Run','alpha', 'beta', 'zeta']]

       ID  Run     alpha      beta      zeta
0       4    0  0.302213  0.423913  1.074786
1       4    1  0.169644  0.181967  0.805850
2       4    2  0.128943  0.091147  0.754634
3       4    3  0.197204  0.102186  0.606535
4       4    4  0.245494  0.299987  0.921032
...   ...  ...       ...       ...       ...
2477  341   22  0.478542  0.267438  0.178090
2478  341   23  0.481532  0.247657  0.230789
2479  341   24  0.464242  0.245266  0.298868
2480  341   25  0.456939  0.208860  0.323325
2481  341   26  0.487246  0.252973  0.124097

[2482 rows x 5 columns]

In [71]:
curr_sub = data.loc['4', 1]
curr_sub

alpha        0.169644
beta         0.181967
zeta         0.805850
llkd       -70.888338
R: alpha     1.000137
R: beta      1.036891
R: zeta      1.026518
Name: (4, 1), dtype: float64

Make list for the median values of the parameters for the runs

In [103]:
list_sub_a=[]
list_sub_b=[]
list_sub_z=[]

# loop through subjects
for sub in list_sub:
    
    str_sub = str(sub)
    # get data for subject
    curr_sub = data.loc[str_sub]
    
    # get parameter values
    alpha = curr_sub['alpha'].values.tolist()
    beta  = curr_sub['beta'].values.tolist()
    zeta  = curr_sub['zeta'].values.tolist()
    
    # calculcate median over all runs
    md_a  = np.median(alpha)
    md_b  = np.median(beta)
    md_z  = np.median(zeta)
    
    #list for subject with medians 84 x1
    list_sub_a.append(md_a)
    list_sub_b.append(md_b)
    list_sub_z.append(md_z)
    
    
# make arrays from list
alpha_md  = np.array(list_sub_a)
beta_md   = np.array(list_sub_b)
zeta_md   = np.array(list_sub_z)

np.save('C:/Users/canlab/Desktop/Modelling_Influenca/Results/Fit_all_subjects/Fitting_results/Weber_array_alpha_median_over_runs_all_sub.pkl',alpha_md)
np.save('C:/Users/canlab/Desktop/Modelling_Influenca/Results/Fit_all_subjects/Fitting_results/Weber_array_beta_median_over_runs_all_sub.pkl', beta_md)
np.save('C:/Users/canlab/Desktop/Modelling_Influenca/Results/Fit_all_subjects/Fitting_results/Weber_array_zeta_median_over_runs_all_sub.pkl', zeta_md)

In [100]:
list_sub_a

[0.16964425851009535,
 0.30067748201735606,
 0.07959007553531397,
 0.220187646706072,
 0.17333019454403598,
 0.2773088875717099,
 0.25335766168570406,
 0.2750519866299196,
 0.15366055197517575,
 0.41875435793611226,
 0.21134266023105533,
 0.3452149400556078,
 0.19234927288977877,
 0.23407138908894415,
 0.09412578486244227,
 0.3963581167883008,
 0.15531001445230314,
 0.14636020156759924,
 0.4449571613559714,
 0.24751543945918764,
 0.030167800029915474,
 0.2031563570972923,
 0.49542201496502425,
 0.1652977157274771,
 0.2552624665063099,
 0.22967305820413447,
 0.16414631225989842,
 0.4931038740181704,
 0.2641034622010443,
 0.2993307505657349,
 0.13763863803364024,
 0.13522416167347925,
 0.4825778672796203,
 0.3448281908201981,
 0.42628831259649724,
 0.4975315424765242,
 0.18531657565772008,
 0.4483430670911144,
 0.2986159754137687,
 0.26382839043284656,
 0.17363777763096871,
 0.2828628030699992,
 0.3612664379357604,
 0.35319788298601995,
 0.30264991739699765,
 0.2938205524283961,
 0.4897659301482469,
 0.2992533662768861,
 0.3871367763014051,
 0.14777881824243236,
 0.1805284300747411,
 0.015440201124436045,
 0.12085954696973428,
 0.48239203274099307,
 0.13418600791784474,
 0.46272941849258714,
 0.0438436905605398,
 0.4616235896863551,
 0.4112654074469665,
 0.2879525683833725,
 0.4926180253506475,
 0.22148545563220567,
 0.0842327135912253,
 0.2561640949200926,
 0.42115750660995965,
 0.47816399136358434,
 0.167619640715859,
 0.46762043329743475,
 0.4526043420483015,
 0.1889220252199815,
 0.1607598320441783,
 0.20609075419395723,
 0.48473338354711654,
 0.19871219619757666,
 0.11304002744828097,
 0.17948499992732045,
 0.12100233065094743,
 0.183144969811636,
 0.4941212434299368,
 0.4884155650630133,
 0.4705627571454305,
 0.21836331892127,
 0.2182229600820032,
 0.46916599197820674]

Make list for parameter values in the form of 31 runs x n subjects for correlation

In [107]:
list_a_runs=[]
list_b_runs=[]
list_z_runs=[]

list_=[]
total_runs=31
for run in range(total_runs):
    
    list_param_a = []
    list_param_b = []
    list_param_z = []
    
    # get param value from each sub in here
    
    list_.append(run)
    
    for sub in list_sub:
        
        str_sub = str(sub)
        max_run = np.max(data.loc[str_sub].index)
        
        # check for amount of runs
        if (run > max_run):
            #set value to nan
            list_param_a.append(np.nan)
            list_param_b.append(np.nan)
            list_param_z.append(np.nan)
            
        else:
        
            curr_sub = data.loc[str_sub, run]
            # appending the values for the parameters
            list_param_a.append(curr_sub['alpha'].tolist())
            list_param_b.append(curr_sub['beta'].tolist())
            list_param_z.append(curr_sub['zeta'].tolist())
     
    
    
    list_a_runs.append(list_param_a)
    list_b_runs.append(list_param_b)
    list_z_runs.append(list_param_z)
    
# make arrays from list
alpha=np.array(list_a_runs)
beta=np.array(list_b_runs)
zeta=np.array(list_z_runs)

np.save('C:/Users/canlab/Desktop/Modelling_Influenca/Results/Fit_all_subjects/Fitting_results/Weber_array_alpha_all_participants.pkl',alpha)
np.save('C:/Users/canlab/Desktop/Modelling_Influenca/Results/Fit_all_subjects/Fitting_results/Weber_array_beta_all_participants.pkl', beta)
np.save('C:/Users/canlab/Desktop/Modelling_Influenca/Results/Fit_all_subjects/Fitting_results/Weber_array_zeta_all_participants.pkl', zeta)

#wb_all=pd.concat(list_a_runs,keys=list_, names = ['Run', 'ID'])
#wh_all=pd.concat(list_b_runs,keys=list_, names = ['Run', 'ID'])
#nn_all=pd.concat(list_z_runs,keys=list_, names = ['Run', 'ID'])

Calulcate Spearman rank correlation

In [128]:
total_runs=31

list_rho_a = []
list_p_a   = []

list_rho_b = []
list_p_b   = []

list_rho_z = []
list_p_z   = []


for run in range(total_runs):
    # spearman corr param values & medians over run
    # alpha
    sp_a = spearmanr(alpha[run], alpha_md, nan_policy='omit')
    list_rho_a.append(sp_a[0]) # append the rho values
    list_p_a.append(sp_a[1]) # append the p-values
    # beta
    sp_b = spearmanr(beta[run], beta_md, nan_policy='omit')
    list_rho_b.append(sp_b[0]) # append the rho values
    list_p_b.append(sp_b[1]) # append the p-values
    # zeta
    sp_z = spearmanr(zeta[run], zeta_md, nan_policy='omit')
    list_rho_z.append(sp_z[0]) # append the rho values
    list_p_z.append(sp_z[1]) # append the p-values

Make dataframes combining rho and p from correlation for parameters

In [136]:
alpha_df = pd.DataFrame(list_rho_a)
alpha_df.columns=['rho']
alpha_df['p_value']=pd.DataFrame(list_p_a)
alpha_df.index.name = 'Run'

In [137]:
alpha_df

          rho       p_value
Run
0    0.351159  1.055986e-03
1    0.362357  7.061402e-04
2    0.544234  8.750683e-08
3    0.596983  2.053187e-09
4    0.582910  5.966311e-09
5    0.686808  5.485313e-13
6    0.734717  1.793678e-15
7    0.789106  4.877597e-19
8    0.785097  9.676605e-19
9    0.919145  6.348607e-35
10   0.890797  7.992528e-30
11   0.872694  2.959160e-27
12   0.882312  1.441916e-28
13   0.776390  4.078727e-18
14   0.836894  3.610686e-23
15   0.871499  4.233532e-27
16   0.895555  1.418672e-30
17   0.813081  5.805893e-21
18   0.869211  8.323381e-27
19   0.829422  1.933492e-22
20   0.832702  9.350299e-23
21   0.762693  8.364571e-17
22   0.785349  6.469831e-18
23   0.746760  4.185294e-15
24   0.773016  1.121483e-15
25   0.752750  3.726315e-14
26   0.829779  3.819325e-19
27   0.786655  1.853337e-15
28   0.739484  8.870096e-13
29   0.683206  2.609868e-10
30   0.683614  9.170141e-10

In [138]:
beta_df = pd.DataFrame(list_rho_b)
beta_df.columns=['rho']
beta_df['p_value']=pd.DataFrame(list_p_b)
beta_df.index.name = 'Run'
beta_df

          rho       p_value
Run
0    0.349195  1.131529e-03
1    0.341723  1.465818e-03
2    0.490027  2.232537e-06
3    0.528156  2.426968e-07
4    0.562580  2.554875e-08
5    0.463440  9.020019e-06
6    0.596335  2.158992e-09
7    0.655766  1.289192e-11
8    0.606156  9.959314e-10
9    0.656778  1.169819e-11
10   0.774081  5.908666e-18
11   0.787911  5.991431e-19
12   0.619135  3.436912e-10
13   0.733381  2.139225e-15
14   0.696953  1.793024e-13
15   0.686625  5.594295e-13
16   0.733401  2.133539e-15
17   0.784185  1.128383e-18
18   0.779488  2.462983e-18
19   0.762134  3.760354e-17
20   0.782869  1.406963e-18
21   0.761822  9.505130e-17
22   0.808204  1.280861e-19
23   0.774302  9.218748e-17
24   0.813526  2.218067e-18
25   0.854997  2.355782e-21
26   0.760832  1.373572e-14
27   0.824980  5.182566e-18
28   0.720129  6.492721e-12
29   0.759232  1.491342e-13
30   0.639596  2.194504e-08

In [139]:
zeta_df = pd.DataFrame(list_rho_z)
zeta_df.columns=['rho']
zeta_df['p_value']=pd.DataFrame(list_p_z)
zeta_df.index.name = 'Run'
zeta_df

          rho       p_value
Run
0    0.202389  6.484979e-02
1    0.212575  5.221753e-02
2    0.262610  1.580805e-02
3    0.397428  1.815924e-04
4    0.417151  7.896682e-05
5    0.375823  4.267867e-04
6    0.397995  1.774240e-04
7    0.527954  2.457527e-07
8    0.529230  2.270927e-07
9    0.639384  5.908770e-11
10   0.702096  9.991508e-14
11   0.719328  1.282240e-14
12   0.633978  9.575029e-11
13   0.675529  1.805286e-12
14   0.704991  7.149408e-14
15   0.693024  2.779656e-13
16   0.623934  2.290418e-10
17   0.760130  5.075680e-17
18   0.477696  4.328911e-06
19   0.700435  1.208380e-13
20   0.709406  4.258648e-14
21   0.730042  7.165906e-15
22   0.674496  6.924932e-12
23   0.595291  9.017862e-09
24   0.612798  8.297514e-09
25   0.639940  1.874519e-09
26   0.587123  7.381491e-08
27   0.688094  8.972300e-11
28   0.571354  4.431122e-07
29   0.503977  1.603021e-05
30   0.706832  1.362081e-10

In [140]:
alpha_df.to_pickle("C:/Users/canlab/Desktop/Modelling_Influenca/Results/Fit_all_subjects/Fitting_results/Weber_alpha_spearman_corr.pkl")
beta_df.to_pickle("C:/Users/canlab/Desktop/Modelling_Influenca/Results/Fit_all_subjects/Fitting_results/Weber_beta_spearman_corr.pkl")
zeta_df.to_pickle("C:/Users/canlab/Desktop/Modelling_Influenca/Results/Fit_all_subjects/Fitting_results/Weber_zeta_spearman_corr.pkl")

In [141]:
alpha_df.to_csv("C:/Users/canlab/Desktop/Modelling_Influenca/Results/Fit_all_subjects/Fitting_results/Weber_alpha_spearman_corr.csv")
beta_df.to_csv("C:/Users/canlab/Desktop/Modelling_Influenca/Results/Fit_all_subjects/Fitting_results/Weber_beta_spearman_corr.csv")
zeta_df.to_csv("C:/Users/canlab/Desktop/Modelling_Influenca/Results/Fit_all_subjects/Fitting_results/Weber_zeta_spearman_corr.csv")

In [ ]:
''