# Modelling influenca data with noisy RL model

Analysis based on https://www.nature.com/articles/s41593-019-0518-9

In [1]:
import numpy as np
from matplotlib import pyplot as plt
import glob, sys, pickle, sobol_seq, numpy
from scipy.stats import norm, truncnorm, multivariate_normal
from scipy.special import logsumexp
from tqdm import tqdm
import pandas as pd

## RL model/function
for noisy and noise-free learning

Rescorla-Wagner rule for updating action values corrupted by random noise

**Full analytical model of behavior:**
$$ Q_{t-1}^k|\mathbb{Q}_t, \mathbb{r}_t, a_t, \alpha, \zeta \sim N((1-\alpha^{\mathbb{1}[a_t=k]})Q_t^k + \alpha^{\mathbb{1}[a_t=k]}\cdot r_t^k, \zeta \cdot||Q_t^k-r_t^k||),  \forall k \in [0,1]\\ with, \mathbb{Q}_t = {Q_t^0, Q_t^1}, and\\ \mathbb{r}_t={r_t^0,r_t^1} 
$$

Learning noise follows Weber's law

$$Q_{t} = Q_{t-1}+ \alpha (r_{t-1} -  Q_{t-1}) + \epsilon_{t}\\
\epsilon_{t} \sim \mathcal{N}(0, \sigma_{t})\\
\sigma_t = \zeta |r_{t-1} - Q_{t-1}| $$ 

Q: expected reward, r: obtained reward

**Choice process modelled by softmax process:**

$$a_t \sim B(\frac{1}{1+exp(-\beta(Q_{t,A}-Q_{t,B})-\xi sign(a_{t-1}))}$$

B: Bernoulli distribution, $\beta$: inverse temperature





Fitting procedure is done with Monte-Carlo methods:
- noise-free: IBIS (iterated batch importance sampler)
- noisey: SMC$^2$

# MCMC for model fitting

$P(\theta|D, M) \propto P(D|\theta, M)P(\theta|M)$

$P(\theta|D, M)$: posterior distribution: $p(\theta|a_{1:t}, r_{1:t})$- joint probability distribution of the parameters of interest conditioned on data and RL model

$P(D|\theta, M)$: likelihood: $p(a_t|a_{1:t-1}, r_{1:t-1}, \theta)$ - intractable in learning noise model: this is the (log) likelihood: you want to maximize the likelihood to make the given choice (data) by the model (M). (log  just so u don't have to multiply but rather can add)

$P(\theta|M)$: priors for each parameter for dynamics of choice process:
$$p(\alpha_0,\alpha_1) = \mathbb{1}_{[0,1]^2}(\alpha_0,\alpha_1)\cdot
\mathbb{1} [c=0]+\mathbb{1}_{[0,1]}(\alpha^0)\cdot \mathbb{1}[\alpha^0=\alpha^1] \cdot \mathbb{1} [c=1]  \\
\frac{1}{\beta} \sim U([0,1])\\
\xi \sim N(0,1)$$


$\theta$ contains parameters $\alpha, \beta, \zeta$

Data: choice $a_t$, reward $r_t$

To estimate goodness of fit residuals of expected reward ($Q_t$) & true reward ($r_t$)

### Influenca data
For each participant max 31 runs and each run contains 150 trials

We fit the noisey and noise-free RL model to our trials data

Put this in other doc

In [2]:
#data_runs=pd.read_csv('C:/Users/canlab/Desktop/Modelling_Influenca/App_data/Influenca_TUE002_data_runs_clean.csv')
data_trials=pd.read_csv('C:/Users/canlab/Desktop/Modelling_Influenca/App_data/Influenca_TUE002_data_trials_clean.csv')

In [3]:
data_trials

,ID,Trial,Run,p_reward_a,p_reward_b,p_draw_a,drawn_outcome,reward_a,reward_b,choice,win,score,run_finished,timestamp,device_type,device_os,RT,win_trial
0,2,1,1,0.800000,0.200000,0.863067,B,63,37,A,0,-63,1,1.549548e+12,mobile,Android 8.0.0 (API 26),-9999.0,NaN
1,2,2,1,0.787411,0.212589,0.193062,A,40,60,B,0,-123,1,1.549548e+12,mobile,Android 8.0.0 (API 26),-9999.0,NaN
2,2,3,1,0.708686,0.291314,0.210425,A,63,37,A,1,-60,1,1.549548e+12,mobile,Android 8.0.0 (API 26),-9999.0,NaN
3,2,4,1,0.610199,0.389801,0.210391,A,44,56,A,1,-16,1,1.549548e+12,mobile,Android 8.0.0 (API 26),-9999.0,NaN
4,2,5,1,0.616570,0.383430,0.003289,A,43,57,A,1,27,1,1.549548e+12,mobile,Android 8.0.0 (API 26),-9999.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
568645,353,146,1,0.390209,0.609791,0.461466,B,51,49,B,1,1127,1,1.601642e+12,mobile,Android 8.0.0 (API 26),-9999.0,NaN
568646,353,147,1,0.473773,0.526227,0.625532,B,64,36,B,1,1163,1,1.601642e+12,mobile,Android 8.0.0 (API 26),-9999.0,NaN
568647,353,148,1,0.463202,0.536798,0.380141,A,49,51,B,0,1112,1,1.601642e+12,mobile,Android 8.0.0 (API 26),-9999.0,NaN
568648,353,149,1,0.560426,0.439574,0.702532,B,30,70,B,1,1182,1,1.601642e+12,mobile,Android 8.0.0 (API 26),-9999.0,NaN
568649,353,150,1,0.368631,0.631369,0.458964,B,39,61,B,1,1243,1,1.601642e+12,mobile,Android 8.0.0 (API 26),-9999.0,NaN

In [4]:
pd.reset_option('all')

: boolean
    use_inf_as_null had been deprecated and will be removed in a future
    version. Use `use_inf_as_na` instead.

C:\Users\canlab\Anaconda3\envs\influenca\lib\site-packages\pandas\_config\config.py:622: FutureWarning:
: boolean
    use_inf_as_null had been deprecated and will be removed in a future
    version. Use `use_inf_as_na` instead.

  warnings.warn(d.msg, FutureWarning)

try out with participants 306 in run 25:

In [5]:
data_sub_25 = data_trials[data_trials["ID"] == 306]
data_sub_25

,ID,Trial,Run,p_reward_a,p_reward_b,p_draw_a,drawn_outcome,reward_a,reward_b,choice,win,score,run_finished,timestamp,device_type,device_os,RT,win_trial
508200,306,1,1,0.200000,0.800000,0.163211,A,27,73,B,0,-73,1,1.599050e+12,desktop,Microsoft Windows 10 Pro,-9999.0,-73.0
508201,306,2,1,0.304905,0.695095,0.894482,B,72,28,A,0,-145,1,1.599050e+12,desktop,Microsoft Windows 10 Pro,12056.0,-72.0
508202,306,3,1,0.326084,0.673916,0.133019,A,55,45,B,0,-190,1,1.599050e+12,desktop,Microsoft Windows 10 Pro,7670.0,-45.0
508203,306,4,1,0.333525,0.666475,0.782113,B,74,26,A,0,-264,1,1.599050e+12,desktop,Microsoft Windows 10 Pro,5051.0,-74.0
508204,306,5,1,0.244213,0.755787,0.051905,A,74,26,A,1,-190,1,1.599050e+12,desktop,Microsoft Windows 10 Pro,6391.0,74.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512845,306,146,31,0.755938,0.244062,0.811060,B,24,76,A,0,1921,1,1.600280e+12,desktop,Microsoft Windows 10 Pro,1262.0,-24.0
512846,306,147,31,0.986848,0.013152,0.035200,A,33,67,A,1,1954,1,1.600280e+12,desktop,Microsoft Windows 10 Pro,954.0,33.0
512847,306,148,31,0.897032,0.102968,0.445695,A,21,79,A,1,1975,1,1.600280e+12,desktop,Microsoft Windows 10 Pro,904.0,21.0
512848,306,149,31,0.837750,0.162250,0.158981,A,40,60,A,1,2015,1,1.600280e+12,desktop,Microsoft Windows 10 Pro,936.0,40.0
512849,306,150,31,0.760894,0.239106,0.111402,A,60,40,A,1,2075,1,1.600280e+12,desktop,Microsoft Windows 10 Pro,1103.0,60.0

In [13]:
data_sel = data_sub_25[data_sub_25["Run"] == 25]
data_sel

,ID,Trial,Run,p_reward_a,p_reward_b,p_draw_a,drawn_outcome,reward_a,reward_b,choice,win,score,run_finished,timestamp,device_type,device_os,RT,win_trial
511800,306,1,25,0.200000,0.800000,0.616936,B,31,69,B,1,69,1,1.600170e+12,desktop,Microsoft Windows 10 Pro,-9999.0,69.0
511801,306,2,25,0.289074,0.710926,0.069294,A,61,39,B,0,30,1,1.600170e+12,desktop,Microsoft Windows 10 Pro,2088.0,-39.0
511802,306,3,25,0.399309,0.600691,0.231914,A,50,50,B,0,-20,1,1.600170e+12,desktop,Microsoft Windows 10 Pro,1262.0,-50.0
511803,306,4,25,0.351872,0.648128,0.366406,B,10,90,B,1,70,1,1.600170e+12,desktop,Microsoft Windows 10 Pro,1231.0,90.0
511804,306,5,25,0.514161,0.485839,0.457764,A,54,46,B,0,24,1,1.600170e+12,desktop,Microsoft Windows 10 Pro,1147.0,-46.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
511945,306,146,25,0.821829,0.178171,0.319569,A,56,44,A,1,2027,1,1.600171e+12,desktop,Microsoft Windows 10 Pro,984.0,56.0
511946,306,147,25,0.713710,0.286290,0.276502,A,52,48,A,1,2079,1,1.600171e+12,desktop,Microsoft Windows 10 Pro,1007.0,52.0
511947,306,148,25,0.774538,0.225462,0.062524,A,26,74,A,1,2105,1,1.600171e+12,desktop,Microsoft Windows 10 Pro,969.0,26.0
511948,306,149,25,0.765891,0.234109,0.337947,A,49,51,A,1,2154,1,1.600171e+12,desktop,Microsoft Windows 10 Pro,945.0,49.0
511949,306,150,25,0.943051,0.056949,0.019705,A,4,96,A,1,2158,1,1.600171e+12,desktop,Microsoft Windows 10 Pro,902.0,4.0

In [14]:
data_sel=data_sel[['ID', 'Trial', 'Run', 'drawn_outcome', 'choice' ,'win']]

In [15]:
data_sel

         ID  Trial  Run drawn_outcome choice  win
511800  306      1   25             B      B    1
511801  306      2   25             A      B    0
511802  306      3   25             A      B    0
511803  306      4   25             B      B    1
511804  306      5   25             A      B    0
...     ...    ...  ...           ...    ...  ...
511945  306    146   25             A      A    1
511946  306    147   25             A      A    1
511947  306    148   25             A      A    1
511948  306    149   25             A      A    1
511949  306    150   25             A      A    1

[150 rows x 6 columns]

In [16]:
win_arr=data_sel['win'].to_numpy()

In [17]:
win_arr

array([1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1], dtype=int64)

In [20]:
#calulcate the rewards from the wins with 0 loose and 1 win
rewards=np.empty((len(win_arr)))
for i in range(len(win_arr)):
    
    if i == 0:
        rewards[0]= win_arr[0]
        #print('round0: ', rewards[i])
    else:
        rewards[i]= rewards[i-1] + win_arr[i]
        #print('round: ', i, '+', rewards[i])

In [21]:
rewards

array([ 1.,  1.,  1.,  2.,  2.,  2.,  3.,  3.,  4.,  5.,  5.,  6.,  7.,
        8.,  8.,  9.,  9.,  9., 10., 11., 12., 13., 13., 14., 15., 15.,
       16., 17., 18., 18., 19., 20., 20., 21., 22., 23., 23., 24., 25.,
       26., 27., 27., 28., 28., 29., 29., 30., 31., 32., 32., 33., 34.,
       35., 36., 37., 38., 39., 40., 41., 42., 43., 44., 45., 46., 47.,
       47., 48., 48., 49., 50., 50., 50., 50., 51., 51., 52., 53., 54.,
       54., 55., 55., 56., 56., 56., 57., 58., 58., 59., 60., 61., 62.,
       63., 63., 64., 64., 65., 66., 67., 68., 69., 70., 71., 72., 73.,
       73., 73., 73., 73., 73., 74., 74., 75., 75., 75., 75., 75., 75.,
       76., 76., 76., 77., 78., 78., 78., 78., 79., 79., 79., 80., 80.,
       80., 80., 81., 82., 83., 84., 85., 86., 86., 87., 88., 89., 90.,
       90., 91., 92., 93., 94., 95., 96.])

In [23]:
data_sel

         ID  Trial  Run drawn_outcome choice  win
511800  306      1   25             B      B    1
511801  306      2   25             A      B    0
511802  306      3   25             A      B    0
511803  306      4   25             B      B    1
511804  306      5   25             A      B    0
...     ...    ...  ...           ...    ...  ...
511945  306    146   25             A      A    1
511946  306    147   25             A      A    1
511947  306    148   25             A      A    1
511948  306    149   25             A      A    1
511949  306    150   25             A      A    1

[150 rows x 6 columns]

Replace A and B options with 0 and 1 respectively

In [30]:
data_sel['choice']=data_sel['choice'].replace(['A', 'B'], [0,1])

C:\Users\canlab\Anaconda3\envs\influenca\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [32]:
data_sel['drawn_outcome']=data_sel['drawn_outcome'].replace(['A', 'B'], [0,1])

C:\Users\canlab\Anaconda3\envs\influenca\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [33]:
data_sel

         ID  Trial  Run  drawn_outcome  choice  win
511800  306      1   25              1       1    1
511801  306      2   25              0       1    0
511802  306      3   25              0       1    0
511803  306      4   25              1       1    1
511804  306      5   25              0       1    0
...     ...    ...  ...            ...     ...  ...
511945  306    146   25              0       0    1
511946  306    147   25              0       0    1
511947  306    148   25              0       0    1
511948  306    149   25              0       0    1
511949  306    150   25              0       0    1

[150 rows x 6 columns]

Save the data for ID 306 run 25

In [34]:
data_sel.to_csv('C:/Users/canlab/Desktop/Modelling_Influenca/App_data/ID306_run25.csv')

In [38]:
data_sel=data_sel[['Trial', 'drawn_outcome', 'choice', 'win']]

In [39]:
data_sel=data_sel.set_index('Trial')

In [41]:
data_sel.to_csv('C:/Users/canlab/Desktop/Modelling_Influenca/App_data/ID306_run25_edited.csv')

In [40]:
data_sel

       drawn_outcome  choice  win
Trial
1                  1       1    1
2                  0       1    0
3                  0       1    0
4                  1       1    1
5                  0       1    0
...              ...     ...  ...
146                0       0    1
147                0       0    1
148                0       0    1
149                0       0    1
150                0       0    1

[150 rows x 3 columns]

In [42]:
data_dic= data_sel.to_dict()

In [43]:
data_dic

{'drawn_outcome': {1: 1,
  2: 0,
  3: 0,
  4: 1,
  5: 0,
  6: 0,
  7: 1,
  8: 0,
  9: 1,
  10: 1,
  11: 0,
  12: 1,
  13: 1,
  14: 1,
  15: 0,
  16: 1,
  17: 0,
  18: 0,
  19: 1,
  20: 1,
  21: 1,
  22: 1,
  23: 0,
  24: 1,
  25: 1,
  26: 0,
  27: 1,
  28: 1,
  29: 1,
  30: 0,
  31: 1,
  32: 1,
  33: 0,
  34: 1,
  35: 1,
  36: 1,
  37: 0,
  38: 1,
  39: 1,
  40: 1,
  41: 1,
  42: 0,
  43: 1,
  44: 0,
  45: 1,
  46: 0,
  47: 1,
  48: 1,
  49: 1,
  50: 0,
  51: 1,
  52: 1,
  53: 1,
  54: 1,
  55: 1,
  56: 1,
  57: 1,
  58: 1,
  59: 1,
  60: 1,
  61: 1,
  62: 1,
  63: 1,
  64: 1,
  65: 1,
  66: 0,
  67: 1,
  68: 0,
  69: 1,
  70: 1,
  71: 0,
  72: 0,
  73: 0,
  74: 0,
  75: 1,
  76: 0,
  77: 0,
  78: 0,
  79: 1,
  80: 0,
  81: 1,
  82: 0,
  83: 1,
  84: 1,
  85: 0,
  86: 0,
  87: 1,
  88: 0,
  89: 0,
  90: 0,
  91: 0,
  92: 0,
  93: 1,
  94: 0,
  95: 1,
  96: 0,
  97: 0,
  98: 0,
  99: 0,
  100: 0,
  101: 0,
  102: 0,
  103: 0,
  104: 0,
  105: 1,
  106: 1,
  107: 1,
  108: 0,
  109: 0,
  110: 1,
  111: 0,
  112: 1,
  113: 0,
  114: 0,
  115: 0,
  116: 1,
  117: 1,
  118: 0,
  119: 1,
  120: 1,
  121: 0,
  122: 0,
  123: 1,
  124: 1,
  125: 1,
  126: 1,
  127: 0,
  128: 0,
  129: 1,
  130: 0,
  131: 0,
  132: 0,
  133: 0,
  134: 0,
  135: 0,
  136: 0,
  137: 0,
  138: 0,
  139: 1,
  140: 0,
  141: 0,
  142: 0,
  143: 0,
  144: 1,
  145: 0,
  146: 0,
  147: 0,
  148: 0,
  149: 0,
  150: 0},
 'choice': {1: 1,
  2: 1,
  3: 1,
  4: 1,
  5: 1,
  6: 1,
  7: 1,
  8: 1,
  9: 1,
  10: 1,
  11: 1,
  12: 1,
  13: 1,
  14: 1,
  15: 1,
  16: 1,
  17: 1,
  18: 1,
  19: 1,
  20: 1,
  21: 1,
  22: 1,
  23: 1,
  24: 1,
  25: 1,
  26: 1,
  27: 1,
  28: 1,
  29: 1,
  30: 1,
  31: 1,
  32: 1,
  33: 1,
  34: 1,
  35: 1,
  36: 1,
  37: 1,
  38: 1,
  39: 1,
  40: 1,
  41: 1,
  42: 1,
  43: 1,
  44: 1,
  45: 1,
  46: 1,
  47: 1,
  48: 1,
  49: 1,
  50: 1,
  51: 1,
  52: 1,
  53: 1,
  54: 1,
  55: 1,
  56: 1,
  57: 1,
  58: 1,
  59: 1,
  60: 1,
  61: 1,
  62: 1,
  63: 1,
  64: 1,
  65: 1,
  66: 1,
  67: 1,
  68: 1,
  69: 1,
  70: 1,
  71: 1,
  72: 1,
  73: 1,
  74: 0,
  75: 0,
  76: 0,
  77: 0,
  78: 0,
  79: 0,
  80: 0,
  81: 0,
  82: 0,
  83: 0,
  84: 0,
  85: 0,
  86: 0,
  87: 0,
  88: 0,
  89: 0,
  90: 0,
  91: 0,
  92: 0,
  93: 0,
  94: 0,
  95: 0,
  96: 0,
  97: 0,
  98: 0,
  99: 0,
  100: 0,
  101: 0,
  102: 0,
  103: 0,
  104: 0,
  105: 0,
  106: 0,
  107: 0,
  108: 1,
  109: 1,
  110: 1,
  111: 1,
  112: 1,
  113: 1,
  114: 1,
  115: 1,
  116: 0,
  117: 0,
  118: 0,
  119: 0,
  120: 0,
  121: 0,
  122: 0,
  123: 0,
  124: 0,
  125: 0,
  126: 1,
  127: 1,
  128: 1,
  129: 1,
  130: 1,
  131: 1,
  132: 1,
  133: 0,
  134: 0,
  135: 0,
  136: 0,
  137: 0,
  138: 0,
  139: 0,
  140: 0,
  141: 0,
  142: 0,
  143: 0,
  144: 0,
  145: 0,
  146: 0,
  147: 0,
  148: 0,
  149: 0,
  150: 0},
 'win': {1: 1,
  2: 0,
  3: 0,
  4: 1,
  5: 0,
  6: 0,
  7: 1,
  8: 0,
  9: 1,
  10: 1,
  11: 0,
  12: 1,
  13: 1,
  14: 1,
  15: 0,
  16: 1,
  17: 0,
  18: 0,
  19: 1,
  20: 1,
  21: 1,
  22: 1,
  23: 0,
  24: 1,
  25: 1,
  26: 0,
  27: 1,
  28: 1,
  29: 1,
  30: 0,
  31: 1,
  32: 1,
  33: 0,
  34: 1,
  35: 1,
  36: 1,
  37: 0,
  38: 1,
  39: 1,
  40: 1,
  41: 1,
  42: 0,
  43: 1,
  44: 0,
  45: 1,
  46: 0,
  47: 1,
  48: 1,
  49: 1,
  50: 0,
  51: 1,
  52: 1,
  53: 1,
  54: 1,
  55: 1,
  56: 1,
  57: 1,
  58: 1,
  59: 1,
  60: 1,
  61: 1,
  62: 1,
  63: 1,
  64: 1,
  65: 1,
  66: 0,
  67: 1,
  68: 0,
  69: 1,
  70: 1,
  71: 0,
  72: 0,
  73: 0,
  74: 1,
  75: 0,
  76: 1,
  77: 1,
  78: 1,
  79: 0,
  80: 1,
  81: 0,
  82: 1,
  83: 0,
  84: 0,
  85: 1,
  86: 1,
  87: 0,
  88: 1,
  89: 1,
  90: 1,
  91: 1,
  92: 1,
  93: 0,
  94: 1,
  95: 0,
  96: 1,
  97: 1,
  98: 1,
  99: 1,
  100: 1,
  101: 1,
  102: 1,
  103: 1,
  104: 1,
  105: 0,
  106: 0,
  107: 0,
  108: 0,
  109: 0,
  110: 1,
  111: 0,
  112: 1,
  113: 0,
  114: 0,
  115: 0,
  116: 0,
  117: 0,
  118: 1,
  119: 0,
  120: 0,
  121: 1,
  122: 1,
  123: 0,
  124: 0,
  125: 0,
  126: 1,
  127: 0,
  128: 0,
  129: 1,
  130: 0,
  131: 0,
  132: 0,
  133: 1,
  134: 1,
  135: 1,
  136: 1,
  137: 1,
  138: 1,
  139: 0,
  140: 1,
  141: 1,
  142: 1,
  143: 1,
  144: 0,
  145: 1,
  146: 1,
  147: 1,
  148: 1,
  149: 1,
  150: 1}}

Prepare rewards and actions array for code

In [51]:
rewards=data_sel['win'].to_numpy()

In [56]:
rewards = np.reshape(rewards, (1,150))
rewards

array([[1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1,
        0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0,
        1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
        1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1,
        1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1,
        0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0,
        1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1]],
      dtype=int64)

In [57]:
actions=data_sel['choice'].to_numpy()

In [58]:
actions = np.reshape(actions, (1,150))
actions

array([[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
        1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]],
      dtype=int64)

In [59]:
actions.shape

(1, 150)

Save actions and rewards arrays

In [60]:
np.save('C:/Users/canlab/Desktop/Modelling_Influenca/App_data/actions', actions)

In [61]:
np.save('C:/Users/canlab/Desktop/Modelling_Influenca/App_data/rewards', rewards)

# All runs from subject 306

In [6]:
data_sub_25

,ID,Trial,Run,p_reward_a,p_reward_b,p_draw_a,drawn_outcome,reward_a,reward_b,choice,win,score,run_finished,timestamp,device_type,device_os,RT,win_trial
508200,306,1,1,0.200000,0.800000,0.163211,A,27,73,B,0,-73,1,1.599050e+12,desktop,Microsoft Windows 10 Pro,-9999.0,-73.0
508201,306,2,1,0.304905,0.695095,0.894482,B,72,28,A,0,-145,1,1.599050e+12,desktop,Microsoft Windows 10 Pro,12056.0,-72.0
508202,306,3,1,0.326084,0.673916,0.133019,A,55,45,B,0,-190,1,1.599050e+12,desktop,Microsoft Windows 10 Pro,7670.0,-45.0
508203,306,4,1,0.333525,0.666475,0.782113,B,74,26,A,0,-264,1,1.599050e+12,desktop,Microsoft Windows 10 Pro,5051.0,-74.0
508204,306,5,1,0.244213,0.755787,0.051905,A,74,26,A,1,-190,1,1.599050e+12,desktop,Microsoft Windows 10 Pro,6391.0,74.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512845,306,146,31,0.755938,0.244062,0.811060,B,24,76,A,0,1921,1,1.600280e+12,desktop,Microsoft Windows 10 Pro,1262.0,-24.0
512846,306,147,31,0.986848,0.013152,0.035200,A,33,67,A,1,1954,1,1.600280e+12,desktop,Microsoft Windows 10 Pro,954.0,33.0
512847,306,148,31,0.897032,0.102968,0.445695,A,21,79,A,1,1975,1,1.600280e+12,desktop,Microsoft Windows 10 Pro,904.0,21.0
512848,306,149,31,0.837750,0.162250,0.158981,A,40,60,A,1,2015,1,1.600280e+12,desktop,Microsoft Windows 10 Pro,936.0,40.0
512849,306,150,31,0.760894,0.239106,0.111402,A,60,40,A,1,2075,1,1.600280e+12,desktop,Microsoft Windows 10 Pro,1103.0,60.0

In [7]:
data_sub_25=data_sub_25[['ID', 'Trial', 'Run', 'drawn_outcome', 'choice' ,'win']]

In [15]:
data_sub_25

        ID  Run  drawn_outcome  choice  win
Trial
1      306    1              0       1    0
2      306    1              1       0    0
3      306    1              0       1    0
4      306    1              1       0    0
5      306    1              0       0    1
...    ...  ...            ...     ...  ...
146    306   31              1       0    0
147    306   31              0       0    1
148    306   31              0       0    1
149    306   31              0       0    1
150    306   31              0       0    1

[4650 rows x 5 columns]

In [9]:
data_sub_25['choice']=data_sub_25['choice'].replace(['A', 'B'], [0,1])

C:\Users\canlab\Anaconda3\envs\influenca\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [10]:
data_sub_25['drawn_outcome']=data_sub_25['drawn_outcome'].replace(['A', 'B'], [0,1])

C:\Users\canlab\Anaconda3\envs\influenca\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [14]:
data_sub_25=data_sub_25.set_index('Trial')

In [16]:
data_sub_25.to_csv('C:/Users/canlab/Desktop/Modelling_Influenca/App_data/ID306_all_runs_edited.csv')

In [17]:
data_sub_25

        ID  Run  drawn_outcome  choice  win
Trial
1      306    1              0       1    0
2      306    1              1       0    0
3      306    1              0       1    0
4      306    1              1       0    0
5      306    1              0       0    1
...    ...  ...            ...     ...  ...
146    306   31              1       0    0
147    306   31              0       0    1
148    306   31              0       0    1
149    306   31              0       0    1
150    306   31              0       0    1

[4650 rows x 5 columns]

In [30]:
action_df = data_sub_25[['Run','choice', 'win']]

In [31]:
action_df

       Run  choice  win
Trial
1        1       1    0
2        1       0    0
3        1       1    0
4        1       0    0
5        1       0    1
...    ...     ...  ...
146     31       0    0
147     31       0    1
148     31       0    1
149     31       0    1
150     31       0    1

[4650 rows x 3 columns]

In [39]:
action=action_df[['choice']].to_numpy()

In [41]:
action.shape

(4650, 1)

In [43]:
actions = np.reshape(action, (31,150)) # reshape to get 31 runs x 150 trials

In [46]:
actions.shape

(31, 150)

In [52]:
np.save('C:/Users/canlab/Desktop/Modelling_Influenca/App_data/actions_subj306_all_runs', actions)

In [47]:
win=action_df[['win']].to_numpy()

In [49]:
wins = np.reshape(win, (31,150)) # reshape to get 31 runs x 150 trials

In [53]:
np.save('C:/Users/canlab/Desktop/Modelling_Influenca/App_data/wins_subj306_all_runs', wins)